B.page-header {
	     font-size:250%;
	     font-family: 'Brush Script MT', cursive;
	     background: #FFFFFF; 
	     z-index:2;
	     margin: 0 0 0 0;
	     border-bottom-width: 5px;
	     padding-top: 9px;
	     padding-bottom: 5px;
}

body {
    background:url('http://www.adweek.com/socialtimes/files/2013/07/QuestionMarksClouds.jpg') 0 no-repeat 100%;
}

.main {
    padding-top:8px;
}

.row {
     padding-bottom:3px;
}